body {
  margin: 0;
  padding: 0;
  font-family: "droid-sans", "stheiti", 'hei', 'Hiragino Sans GB', "microsoft yahei",
    sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: none; }

  * {
    outline: none; }

    a {
      text-decoration: none;
      color: #333; }
      a:hover {
        text-decoration: underline; }

img {
  max-width: 100%; }

  .bitcron_nav {
    border-bottom: 1px solid #eee;
    padding: 5px 0; }

    #notification {
      text-align: center;
      font-size: 1em;
      line-height: 1.8;
      padding: 1.8em 0;
      background: #f8f8f8;
      border-bottom: 1px solid #eee;
      letter-spacing: 1px;
      color: #555;
      -webkit-font-smoothing: antialiased; }
      #notification a {
        text-decoration: none;
        color: #666;
        padding-bottom: 1px;
        border-bottom: 1px dashed #777; }
        #notification a:hover {
          color: #cd2d36;
          border-bottom: 1px dashed #cd2d36; }

.page_core {
  max-width: 860px;
  margin: 0 auto; }

  @media screen and (max-width: 64em) {
    .page_core {
      padding: 0 20px;   }
}

@media screen and (max-width: 35.5em) {
  .page_core {
    padding: 0 10px;   }
}

.page_split_line {
  height: 1px;
  width: 100%;
  overflow: hidden;
  background: #eee;
  margin: 30px auto; }

  embed[type="application/thunder_download_plugin"] {
    display: none; }
